[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "wyz.code.metaTesting"]
	path = wyz.code.metaTesting
	url = https://github.com/cran/wyz.code.metaTesting
[submodule "wyz.code.offensiveProgramming"]
	path = wyz.code.offensiveProgramming
	url = https://github.com/cran/wyz.code.offensiveProgramming
[submodule "wyz.code.rdoc"]
	path = wyz.code.rdoc
	url = https://github.com/cran/wyz.code.rdoc
[submodule "wyz.code.testthat"]
	path = wyz.code.testthat
	url = https://github.com/cran/wyz.code.testthat
